.channel-page .follow button{
    color: white !important;
    background-color: #bf40bf !important;
}
.channel-page .video-section .card:hover{
    transform: translateY(0%);
}
time{
    font-size: 13px;
}
.channel-page .social-media{
     bottom: 18px ;
     left:20px; 
}
.channel-page .follow button{
     bottom: 18px ;
     right:18px;
}
@media(max-width: 575px){
.card .fa-play{
    right:47%;
}
.navbar-light .navbar-nav .nav-link{
    font-size: 13px;
    padding-right: 4px;
    padding-left: 4px;
}
}
    @media(min-width: 576px){
        .navbar-light .navbar-nav .nav-link{
        padding-right: 4px;
        padding-left: 4px;
        }
}